{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Sage Integration Settings - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "settings" %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-cog"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Sage Integration Settings</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Sage Integration Settings
    </h3>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Sage Integration Settings
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="col-md-4 center">
                                    <h4>Product Links</h4>
                                    <a href="{{ path("eezeecommerce_settings_sage_product_index") }}">
                                        <button class="btn btn-lge btn-primary">See All Product Links</button>
                                    </a>
                                </div>
                                <div class="col-md-4 center">
                                    <h4>Option Links</h4>
                                    <a href="{{ path("eezeecommerce_settings_sage_options_index") }}">
                                        <button class="btn btn-lge btn-primary">See All Option Links</button>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <h4>Variation Links</h4>
                                    <a href="{{ path("eezeecommerce_settings_sage_variants_index") }}">
                                        <button class="btn btn-lge btn-primary">See All Variation Links</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}