{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Add New Product Variant to Sage Link - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "products" %}

    {% block extrastylesheets %}
        {% stylesheets
        '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/css/dropzone.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/css/bootstrap-select.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/css/multi-select.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2-bootstrap.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/typeahead/typeahead.css' filter="?cssrewrite"
        %}
        <link href="{{ asset_url }}" rel="stylesheet">
        {% endstylesheets %}
    {% endblock extrastylesheets %}

    {% block content %}
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path("_eezeecommerce_admin_homepage") }}">Dashboard</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-tag"></i>
                    <a href="{{ path("_eezeecommerce_admin_settings_general") }}">Settings</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-tags"></i>
                    <a href="{{ path('eezeecommerce_settings_sage_index') }}">Sage Integration</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-tags"></i>
                    <a href="{{ path('eezeecommerce_settings_sage_variants_index') }}">Sage Integration Product Variants</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-check"></i>
                    <a href="#">Add new Sage -> Product Variants Link</a>
                </li>
            </ul>
        </div>
        <h3 class="page-title">
            Add new Product Variant
        </h3>

        <div class="row">
            {{ form_start(form, {"attr" : {"role": "form"} }) }}
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>Product Variants -> Sage Link
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Product Variant:</label>
                                    <div class="col-md-10">
                                        {{ form_row(form.variant, {"attr" : {"class" : "form-control"} }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Sage Reference:</label>
                                    <div class="col-md-10">
                                        {{ form_row(form.sage_reference, {"attr" : {"class" : "form-control"} }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-primary btn-lg col-md-12" value="Save"/>
        {{ form_end(form) }}
        </div>
    {% endblock content %}
{% block scripts %}
    {% javascripts
    '@eezeecommerceAdminBundle/Resources/public/js/components-editors.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/dropzone.js'
    '@eezeecommerceAdminBundle/Resources/public/js/form-dropzone.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/js/bootstrap-select.min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/js/jquery.multi-select.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/select2/js/select2.full.min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js'
    '@eezeecommerceAdminBundle/Resources/public/js/scripts/components-bootstrap-tagsinput.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/typeahead/handlebars.min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/typeahead/typeahead.bundle.js'
    %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

{% endblock scripts %}