{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | View Sage Integration - Options - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% trans_default_domain "products" %}

{% set super_route = "products" %}

{% block extrastylesheets %}
    {% stylesheets
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/datatables.css' filter="?cssrewrite"
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/plugins/bootstrap/datatables.bootstrap.css' filter="?cssrewrite" %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-tags"></i>
                <a href="{{ path('_eezeecommerce_admin_settings_general') }}">Settings</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-tags"></i>
                <a href="{{ path('eezeecommerce_settings_sage_index') }}">Sage Integration</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Sage/Variants
    </h3>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box grey-cascade">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Sage/Variants List
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-group">
                                    <a href="{{ path('eezeecommerce_settings_sage_variant_add') }}">
                                        <button id="sample_editable_1_new" class="btn green">
                                            Add New Sage Variants Mapping <i class="fa fa-plus"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-responsive table-bordered table-hover order-column"
                           id="product-table">
                        <thead>
                        <tr>
                            <th>
                                id
                            </th>
                            <th>
                                Option
                            </th>
                            <th>
                                mapping
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    {% javascripts
    '@eezeecommerceAdminBundle/Resources/public/js/datatable.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/datatables.min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/plugins/bootstrap/datatables.bootstrap.js'
    '@eezeecommerceAdminBundle/Resources/public/js/table-datatables-managed.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function () {

            $('#product-table').DataTable({
                "ajax": "{{ path("_eezeecommerce_admin_setting_sage_variants_index_ajax") }}",
                columnDefs: [
                    {targets: [0], visible: false},
                    {targets: '_all', visible: true}
                ]
            });

        });
    </script>
{% endblock scripts %}